@media (min-width: 0px) {

  .publicationPage {
    font-family: "OpenSans-Light";
  }

  .publicationPage_title h1 {
    font-family: "OpenSans-SemiBold";
    font-size: 24px;
  }

  .publicationPage_main {
    border: 1px dashed grey;
  }

  .publicationPage_main__img img {
    width: 100%;
  }
}

@media (min-width: 768px) {

}