@media(min-width: 0px) {
  #navbarSupportedContent li > a {
    font-weight: 700;
  }

  .header-adv {
    background-color: #343a40;
  }

  .header-adv .navbar-collapse {
    border-top: 1px solid rgba(42, 18, 151, 0.836);
    box-shadow: inset 0 1px 0 rgba(134, 130, 130, 0.877);
  }

  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #343a40;
  }

  .ci-position {
    width: auto;
    margin: 0;
    right: 5%;
    left: 80%;
    bottom: 30px;
    z-index: 2;
  }

  .cc-position {
    text-align: left;
    left: 5%;
    padding-bottom: 0px;
    bottom: 0;
    z-index: 2;
  }
}

@media ( min-width: 350px ) {
  .cc-position {
    padding-bottom: 10px;
  }
}

@media(min-width: 768px) {
  .header-adv .navbar-collapse {
    border-top: none;
    box-shadow: none;
  }
}
