@media (min-width: 0px) {
  .s-photoList {
    height: 100px;
  }

  .s-photoList .photoItem {
    width: 25%;
    cursor: pointer;
    height: 100%;
  }

  .s-photoList .photoItem:hover {
    box-shadow: 1px 4px 2px -2px #717171;
  }

  .photosPage .s-photoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    height: auto;
  }

  .photosPage .photoItem {
    width: 31%;
    height: 100px;
  }

  .photosPage .photoItem:hover {
    box-shadow: 0 0 5px 2px #717171;
  }
}

@media ( min-width: 360px ) {
  .photosPage .photoItem {
    width: 32%;
    height: 130px;
  }
}

@media (min-width: 500px) {
  .s-photoList {
    height: 115px;
  }

  .photosPage .photoItem {
    height: 150px;
  }
}

@media (min-width: 600px) {
  .s-photoList {
    height: 140px;
  }

  .photosPage .photoItem {
    height: 160px;
  }
}

@media (min-width: 768px) {
  .s-photoList {
    height: 70px;
  }

  .photosPage .photoItem {
    width: 140px;
  }
}

@media (min-width: 1092px) {
  .s-photoList {
    height: 85px;
  }

  .photosPage .photoItem {
    width: 151px;
  }
}

@media (min-width: 1320px) {
  .s-photoList {
    height: 100px;
  }
}