@media (min-width: 0px) {

  .card-body h5 {
		font-family: "OpenSans-SemiBold";
    font-size: 14px;
    cursor: pointer;
  }
  
	.card-body .card-text {
    font-size: 12px;
    cursor: pointer;
	}

	.shareList {
		position: absolute !important;
		bottom: 16%;
    left: 0;
		height: 100px;
		color: white;
		border-radius: 3px;
	}

	.shareList-bg {
		position: absolute !important;
		right: 0;
		background-color: black;
		opacity: 0.8;
		width: 100%;
		height: 100%;
		border-radius: 3px;
	}

	.shareList-bgArrow {
		position: absolute !important;
		bottom: -20px;
		left: 77%;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-top: 10px solid black;
		opacity: 0.8;
	}

	.publicationCard a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

}

/*--- for device width: 480px ---*/
@media (min-width: 436px) {
	.shareList {
		bottom: 14%;
	}

	.shareList-bgArrow {
		left: 81%;
	}
}

/*--- for device width: 568px ---*/
@media (min-width: 516px) {
	.shareList {
		bottom: 13%;
	}

	.shareList-bgArrow {
		left: 85%;
	}
}

/*--- for device width: 598px, 640px, 667px, 690px ---*/
@media (min-width: 543px) {
	.shareList {
		bottom: 11%;
	}

	.shareList-bgArrow {
		left: 86%;
	}
}

@media (min-width: 768px) {
  
  .card-body h5 {
    font-size: 16px;
	}

	.card-body .card-text {
		font-size: 14px;
	}
	
	.shareList {
		bottom: 12%;
	}

	.shareList-bg {
		right: 4%;
	}

	.shareList-bgArrow {
		left: 77%;
	}
}

/*--- for device width: 1280px ---*/
@media (min-width: 1163px) {

	.shareList-bgArrow {
		left: 82%;
	}

}