.playerCardShort {
  position: relative;
  width: 100%;
}

.squadShort .item:not(:first-child)::before {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  top: -2px;
  content: " ";
  background: #535353;
}

.playerCardShort .photo {
  width: 70px;
}

.playerCardShort .photoItem-img {
  margin-bottom: 0px;
}

.info_name {
  font-family: "OpenSans-SemiBold";
}

.info_country {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 5px;
}

.info_country img {
  width: 20px;
  height: 15px;
}