.playersList .not {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not span {
  text-transform: uppercase;
  font-weight: bold;
}

.squadShort .item {
  position: relative;
  width: 100%;
  margin-top: 3px;
}