@media (min-width: 0px) {
  .videoPage .s-video-title {
    border: none;
  }
  
  .videoPage .s-videoList {
    display: flex;
    flex-wrap: wrap;
  }
  
  .videoPage .videoItem {
    margin: 2px;
    width: 100%;
  }
}

@media (min-width: 600px) {
  .videoPage .videoItem {
    width: 49%;
  }
}

@media (min-width: 768px) {
  .videoPage .videoItem {
    width: 32%;
  }
}