@font-face {
  font-family: "OpenSans-Light";
  src: url('./assets/fonts/Open_Sans/OpenSans-Light.ttf');
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url('./assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url('./assets/fonts/Open_Sans/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url('./assets/fonts/Open_Sans/OpenSans-Bold.ttf');
}

/* 
  бэкгроунд менюшки 373737 
  верхнее меню #535353
*/ 

/*============================== Adaptive ==============================*/

@media (min-width: 0px) {
  .App {
    font-family: "OpenSans-Light";
    font-size: 14px;
  }

  .b-black {
    border: 1px solid black;
  }

  .b-red {
    border: 1px solid red;
  }

  .b-green {
    border: 1px solid green;
  }

  .b-yellow {
    border: 1px solid yellow;
  }

  .sidebar-main {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .bblock {
    height: 40%;
    width: 100%;
    background-image: linear-gradient(rgba(255,0,0,0), rgb(0, 0, 0));
    position: absolute;
    bottom: 0;
    opacity: 0.7;
    z-index: 1;
  }

  .partner-logo {
    width: 40px;
  }

  .content {
    position: relative;
    top: 76px;
  }

  footer {
    position: relative;
    top: 76px;    
  }

  .f-info-logo {
    opacity: 0.5;
    filter: grayscale(100%) contrast(150%);
  }

  .f-fima-info {
    font-size: 12px;
  }

  .f-other {
    font-size: 12px;
  }

  .active {
    background-color: #343a40 !important;
  }
}



@media (min-width: 750px) {
  
  .partner-logo {
    width: 70px;
  }

  .content {
    top: 94px;
  }

  footer {
    top: 94px;    
  }
  
}