.s-photo-title {
  font-family: "OpenSans-SemiBold";
  font-size: 16px;
  text-transform: uppercase;
}

.s-photo-title h5 {
  margin: 0;
  font-size: 16px;
  padding: 3px;
}

.s-photoListBlock {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  box-shadow: 0 0 5px 2px grey;
  border-radius: 3px;
}

.bt-photoListLink {
  height: 40px;
  border: 1px solid #717171;
  border-radius: 5px;
  background-color: #535353;
  color: white;
}

.s-photoListBlock a {
  text-decoration: none;
  color: white;
  text-align: center;  
}

.s-photoListBlock a:hover {
  color: black;
}

.s-video-title {
  font-family: "OpenSans-SemiBold";
  font-size: 16px;
  text-transform: uppercase;
  padding: 3px;
}

.s-video-title h5 {
  margin: 0;
  font-size: 16px;
}

.s-videoListBlock {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  box-shadow: 0 0 5px 2px grey;
  border-radius: 3px;
}

.bt-videoListLink {
  height: 40px;
  border: 1px solid #717171;
  border-radius: 5px;
  background-color: #535353;
  color: white;
}

.s-videoListBlock a {
  text-decoration: none;
  color: white;
  text-align: center; 
}

.s-videoListBlock a:hover {
  color: black;
}